<!DOCTYPE html>
<html lang="en">
{{> head}}

<body>

    {{> navbar}}
   
   <!--AQUI VA EL CONTENIDO-->

   <div class="row">
       <div class="col-8"></div>
            <h1>ROBOT ICON</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adip</p>
       <div class="col-4">
           <img src="assets/img/bot.jpg" class="img-thumbnail">
       </div>


   </div>


    {{> footer}}
</body>

</html>